.main-container{

  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px 10px 0 0;
 


}

.customized-body{
background-image: url("pattern2.jpg");
background-repeat: repeat-y repeat-x;
font-family: 'Montserrat', sans-serif;



}
.title-bar{
  background-color: #FE7E7E;
  height: 35px;
  padding-left: 1%;
  border-radius: 10px 10px 0 0;
  color: white; /* Text Color */

}

.customized-column{
	position: relative;
    width: 100%;
    min-height: 1px;
}

.customized-form-control{
	    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.scroller {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.categories-button{
	
	background-color: #FE7E7E; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}