<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
    <div th:fragment="footer">
        <hr />
        <div class="row">
            <div class="col-md-2">
                <!-- Third Party Social Media Plugin BEGIN -->
                <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                    <a class="a2a_button_facebook"></a>
                    <a class="a2a_button_twitter"></a>
                    <a class="a2a_button_google_plus"></a>
                </div>
                <script async src="https://static.addtoany.com/menu/page.js"></script>
                <!-- Third Party Social Media Plugin  -->
            </div>
            <div class="col-md-6">The Recipe Site is a recipe sharing social network, share easy recipes with family and friends!</div>

            <div class="col-md-4">
                Designed and developed by <a href="https://www.linkedin.com/in/syed-ammad-hassan/en">Syed
					Ammad Hassan</a>
            </div>
        </div>
    </div>
</body>