<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Add New Recipe</title>
<link rel="stylesheet" type="text/css" href="view.css" media="all">
<script type="text/javascript" src="view.js"></script>

</head>
<body id="main_body" >
	
	<img id="top" src="top.png" alt="">
	<div id="form_container">
	
		<h1><a>Add New Recipe</a></h1>
		<form th:object="${recipe}" th:action="@{/saveOrUpdateRecipe}" id="form_59928" class="appnitro" >
						<input type="hidden" th:field="*{id}" value="5"/>
				
					
					<div class="form_description">
					
			<h2>Add New Recipe</h2>
			<p>Use the form below to add new Recipe. </p>
		</div>						
			<ul >
			
		<li id="li_2" >
		<label class="description" for="element_1">Recipe Name </label>
		<div>
			<input th:field="*{name}" id="element_1" name="element_1" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>	
		<li id="li_3" >
		<label class="description" for="element_3">Prep Time (Minutes) </label>
		<div>
			<input th:field="*{prepTime}" id="element_3" name="element_3" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		
		<li id="li_4" >
		<label class="description" for="element_4">Cook Time (Minutes) </label>
		<div>
			<input th:field="*{cookTime}" id="element_4" name="element_4" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		
		<li id="li_5" >
		<label class="description" for="element_5">Servings </label>
		<div>
			<input th:field="*{servings}" id="element_5" name="element_5" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		
		<li id="li_6" >
		<label class="description" for="element_6">Source </label>
		<div>
			<input th:field="*{source}" id="element_6" name="element_6" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		
		<li id="li_7" >
		<label class="description" for="element_7">Image Url </label>
		<div>
			<input th:field="*{url}" id="element_7" name="element_7" class="element text medium" type="text" maxlength="255" value="http://"/> 
		</div> 
		</li>		
		<li id="li_8" >
		<label class="description" for="element_8">Difficulty </label>
		<div>
			<select th:field="*{difficulty}">
			<option th:value="EASY" th:text="EASY"></option>
			<option th:value="HARD" th:text="HARD"></option>
		  	<option th:value="KIND_OF_HARD">Kind Of Hard</option> 
			<option th:value="Moderate" th:text="Moderate"></option>
			</select>
		</div> 
		</li>
		
		<!-- Ingredient Div Start -->
		
		<li id="li_7" >
		<label class="description" for="element_7">Ingredients: </label>
		<div name="IngredientDiv" id="IngredientDiv">
			<div class="ingredientUnit">
			<span>Description</span>
			<br></br>
			<input name="ingredients[0].description" id="element_7" class="element text medium" type="text" maxlength="255" value=""/>
			<br></br>
			<span >Amount</span>
			<br></br>
			<input name="ingredients[0].amount" type="number" id="element_7"/>
			<br></br>
			<span>Unit Of Measure</span>
			<br></br>
			<select name="ingredients[0].uom.id">
			<option th:each="unitOfMeasure : ${uomList}" th:text="${unitOfMeasure.description}" th:value="${unitOfMeasure.id}"></option>
		  	</select>
		  	</div>
			
			
		</div> 
		</li>	
		<!-- Ingredient Div End -->
		
		
		<li id="li_9" >
		<label class="description" for="element_9">Description </label>
		<div>
			<textarea th:field="*{description}" id="element_9" name="element_9" class="element textarea medium"></textarea> 
		</div> 
		</li>		
		<li id="li_9" >
		<label class="description" for="element_10">Direction </label>
		<div>
			<textarea th:field="*{directions}" id="element_10" name="element_10" class="element textarea medium"></textarea> 
		</div> 
		</li>
		<li id="li_10" >
		<label class="description" for="element_11">Notes </label>
		<div>
			<textarea th:field="*{recipeNotes.recipeNotes}" id="element_11" name="element_11" class="element textarea medium"></textarea> 
		</div> 
		</li>
			
					<li class="buttons">
			    <input type="hidden" name="form_id" value="59928" />
			    
				<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
		</li>
			</ul>
		</form>	
		
	</div>
	<img id="bottom" src="bottom.png" alt="">
	</body>
</html>